<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo Isométrico</title>
    <link rel="stylesheet" href="/css/style (game).css">
</head>
<body>
    <canvas id="gameCanvas" width="800" height="600"></canvas>

    <script src="../js/script.js"></script>

    <script>
        // Função para ativar o modo fullscreen
        function requestFullScreen() {
            const elem = document.documentElement;
            
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) { // Firefox
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { // Chrome, Safari e Opera
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { // IE/Edge
                elem.msRequestFullscreen();
            }
        }

        // Ativar fullscreen automaticamente ao carregar a página
        window.onload = function() {
            requestFullScreen();
        };
    </script>


</body>
</html>
