<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logar com Redes Sociais - Jogo Isométrico</title>
    <link rel="stylesheet" href="/css/style (tela login).css">
</head>
<body>
    <div class="background-blur"></div> 
    <div class="login-container">
        <div class="login-form">
            <h2>Logar com Redes Sociais</h2>
            <div class="social-login">
                <p>Escolha uma rede social:</p>
                <div class="social-icons">
                    <a href="/signUp"><img src="../img/icons8-facebook-novo.svg" alt="Facebook"></a>
                    <a href="/signUp"><img src="../img/icons8-google-logo.svg" alt="Google"></a>
                    <a href="/signUp"><img src="../img/icons8-mac-os.svg" alt="Apple"></a>
                </div>
            </div>
            <div class="signup">
                <a href="/">Voltar ao Login</a>
            </div>
        </div>
    </div>
</body>
</html>
